<!DOCTYPE html>
<html>
<head>
<title>关于我们-国典寄卖行</title>
<link href="__STATIC__css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
<link href="__STATIC__css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/style2.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/memenu.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/form.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/common.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/contactUs_y.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__css/edit_address.css" rel="stylesheet" type="text/css" media="all" />

<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<body style="background-color: rgb(246, 246, 248);">
<!--header-s-->
<!--header-->
<include file="public/header"/>
<!--header-e-->
<div class="product-model contactPage main_artical">
<div class="fn-cart-pay">
    <div class="layout after-ta order-ha">
        <div class="erhuh" style="text-align: center; min-height: 300px; padding: 50px 0;">
            <i class="icon-succ"></i>
            <h3> 订单支付成功，我们将在第一时间给您发货！</h3>
            <div class="succ-tip">
                请你保持手机通畅,等待收货
            </div>
        </div>
    </div>

</div>
</div>
<!--footer-s-->
<include file="public/footer"/>
<!--footer-e-->
</body>
</html>

