<!DOCTYPE html>
<html lang="en">
<head>
  <title>结算中心</title>
  <link href="__STATIC__css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__css/p-common.css" rel="stylesheet" type="text/css" media="all" /> 

  <link href="__STATIC__css/dispatch_y.css" rel="stylesheet" type="text/css" media="all" />  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body> 
  <!--header--> 
  <div class="mobel-header">
    <div class="back" onclick="history.back(-1)"></div>
    <div class="title">购买方式</div>
  </div>  
  <!-- main -->
  <div class="dispatch">
    <!-- <div class="y_dispatch">
      <img class="y_dispatch_img" src="__STATIC__image/list/home_mp.png">
    </div> -->
    <div class="y_dispatch">
      <div>可选配送方式</div>
      <ul class="y_dispatch_ul">
        <li class="y_dispatch_item <if condition='$buy_method eq 2'>y_dispatch_item_act</if>" buy_method="2">快递送货 <img src="__STATIC__image/icon/triangle.png"></li>
        <li class="y_dispatch_item <if condition='$buy_method eq 1'>y_dispatch_item_act</if>" buy_method="1">门店自提 <img src="__STATIC__image/icon/triangle.png"></li>
      </ul>
    </div>
    <div class="y_dispatch_div">
      <div class="y_dispatch y_dispatch_bottom" <if condition='$buy_method eq 2'>style="display: block;"</if>>
        <span class="y_dispatch_juse">*默认顺丰快递公司</span>
      </div>
      <div class="y_dispatch y_dispatch_bottom" <if condition='$buy_method eq 1'>style="display: block;"</if>>
        <p class="y_bottom_p">自提地址：<span>北京市朝阳区铭基创意公园i2</span></p>
        <p class="y_bottom_p">营业时间：<span>9:00-18:00</span></p>
        <p class="y_bottom_p">贵宾专线：<span>010-80456828 转 8006</span></p>
        <p class="y_bottom_p">专车服务：<span>凭订单号与客服预约</span></p>
        <div class="y_bottom_div">
          <span class="y_dispatch_juse">*专车服务需消费达到50,000元以上金额方可预约</span>
        </div>
      </div>
    </div>
  </div>
    
  <form action="{:url('mobile/cart/cart2')}" method="get">
        <input type="hidden" name="source" value="{$Request.param.source}" />
        <input type="hidden" name="order_id" value="{$Request.param.order_id}" />
        <input type="hidden" name="act_id" value="{$Request.param.act_id}" />
        <input type="hidden" name="goods_id" value="{$Request.param.goods_id}" />
        <input type="hidden" name="goods_num" value="{$Request.param.goods_num}" />
        <input type="hidden" name="item_id" value="{$Request.param.item_id}" />
        <input type="hidden" name="action" value="{$Request.param.action}" />
        <input type="hidden" name="buy_method" value="{$Request.param.buy_method}" />
      <div class="y_dispatch_btn">
        <button>确定</button>
      </div>
  </form>
</body>
<script src="__STATIC__js/jquery.min.js"></script>
<script src="__STATIC__js/simpleCart.min.js"> </script>
<script src="__STATIC__js/type.js"></script>
<script type="text/javascript">
  $(function () {
      $('.y_dispatch_ul li').click(function () {
        var buy_method = $(this).attr('buy_method');
          $(this).addClass('y_dispatch_item_act').siblings().removeClass('y_dispatch_item_act');
          var index=$(this).index();
          $(".y_dispatch_div .y_dispatch_bottom").eq(index).show().siblings().hide();

          $('input[name=buy_method]').val(buy_method)
      })
  })
</script>
</html>
