<!DOCTYPE html>
<html>
<head>
	<title>页面维护中</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
	<style type="text/css">
		.close {
			width: 185px;
			margin: 260px auto 0;
			height: 40px;
			line-height: 40px;
			background: url('/public/images/close.png') no-repeat;
			background-size: 30px;
			padding-left: 40px;
		}
	</style>
</head>
<body style="background-color: #fff;">
	<div class="close">页面维护中，敬请期待！</div>
</body>
</html>