.contact_left{
    height: 100%!important;
}

.y_tab{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.y_item{
    padding: 15px 0;
    border-bottom: 10px solid rgb(246, 246, 248)
}

.y_detail{

}
.y_tab .details{
    flex: 1;
}
.y_tab .colle{
    width: 12%;
    text-align: center;
}
.y_tab .price{
    width: 15%;
    text-align: center;
} 
.y_tab .depoist{
    width: 10%;
    text-align: center;
} 
.y_tab .opration{
    width: 10%;
    text-align: center;
}

.y_detail_button{
    padding: 40px 20px;
    text-align: right;
    color: #666;
}

.y_detail_button p{
    margin-bottom: 25px;
}

.y_red_btn{
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(189,83,81);
    padding: 10px 40px;
    border: none;
    outline: none;
}

.backCart {
    border: 1px solid  rgb(189,83,81);
    color:rgb(189,83,81);
    padding: 10px 20px;
    float: left;
    background: #FFF;
    font-size: 16px;
}

.y_red{
  color:  rgb(189,83,81);
  font-size: 20px;
}

/*到店自付*/
.y_radio{
  padding: 10px 30px;
  font-size: 16px;
}
.y_radio.active {background-color: rgb(255,240,232);}
.y_radio .y_buy_choose{
  margin-right: 10px;
}

.y_radio1{
  display: flex;
  flex-wrap: wrap;
  padding: 15px 30px;
}

.y_radio1_item{
  min-width: 34%;
  margin-bottom: 20px;
  color: #666;
}

.y_juse{
  color: rgb(232,190,104);
  margin-left: 10px;
}
.y_radio2{
  padding: 15px 0px;
  display: none;
}
.y_radio2 .label{
  width: auto;
}
.formRow{
  margin-top: 0;
  margin-bottom: 20px;
}