
.erhuh h3{font-size: 18px;color: #7baa61;padding: 27px 0 2px; font-weight:400}
.erhuh p{ color:#777}
.erhuh p b{    font-size: 14px;color: #e01d20;}
.succ-tip{padding-top: 12px;color: #777;}
.succ-tip b{ font-size:14px}
.ddxq-xiaq{ border-top:1px solid #d7ebcb}
.ddxq-xiaq a{display: block;width: 108px;height: 32px;background-color: #f1f8ee;border: 1px solid #d7ebcb;border-top-color: #f1f8ee;margin: -1px auto 0;position: relative;line-height: 30px;font-size: 14px;color: #649a45;text-indent: 31px;}
.ddxq-xiaq a i{ background:url(../images/sprites6.png) no-repeat;    position: absolute;height: 3px;font-size: 1px;line-height: 1px; width: 6px;background-position: -138px -312px;left: 17px;top: 14px;}
.orde-sjyy{ font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1';}
.titls{font-size: 14px;border-left: 4px solid #e5e5e5;padding-left: 6px;line-height: 1.1;margin-bottom: 10px; font-weight:400}
.titls b{font-size: 12px;font-weight: 400;color: #28c0c6;margin-left: 8px;}
.titls b a{color: #28c0c6;}
.bsjy-g dl{border: 1px solid #dedede;border-bottom: 0 none;}
.bsjy-g dl dd{ position:relative}
.dsfzfpte{text-align: center;height: 30px;line-height: 30px;border-bottom: 1px solid #dedede;background-color: #fcfcfc;}
.dsfzf-ee{padding: 30px 0 0 25px;}
.dsfzfpte b{ font-weight:400}
.dsfzf-ee ul li{float: left;width: 167px;padding-bottom: 25px;}
.payment-area, .payment-area label {display: inline-block;position: relative;}
.payment-area input[type=radio]{ margin-right:5px; cursor:default}
.payment-area label{display: inline-block;position: relative;}
.payment-area label img {vertical-align: middle;cursor: pointer;border: 1px solid #ededed;}
.payment-area label:hover img{ border-color:#bf0f0f}
.dsfzf-ee ul:before{ content:""; display:table}
.dsfzf-ee ul:after{ content:""; display:table; clear:both}
.order-payment-area {border-bottom: 1px solid #dedede;}
.dsfzfpte em{ margin-left:8px; color:#999}
.dsfzfpte span{ color:#28c0c6; margin-left:6px;}
.dsfzfpte span a{ color:#28c0c6;}
.dsfzfpte span a:hover{ text-decoration:underline}
.payment-area label i{display: inline-block;width: 20px;height: 30px;border: 1px solid #ffcd88;border-left: 0 none;background-color: #ffd594;color: #4c3f2c;vertical-align: middle;text-align: center;line-height: 1.1;padding-top: 2px;font-style: normal;}
.payment-area label:hover i{border:1px solid #bf0f0f; border-left:0 }
.order-payment-action-area {padding-top: 30px;text-align: right;}
.order-payment-action-area .voucher-use {font-size: 14px;margin-right: 20px;color: #888;line-height: 20px;}
order-payment-action-area {padding-top: 30px;text-align: right; font-family:'Tahoma','\5FAE\8F6F\96C5\9ED1'}
.button-confirm-payment, .button-go-payment {font-family: \5FAE\8F6F\96C5\9ED1;font-size: 16px;width: 148px;height: 35px;line-height: 33px;}
.button-style-5 {color: #FFF;background-color: #d81b24;border: 1px solid #d81b24;display: inline-block;text-align: center;cursor: pointer;}
.order-payment-action-area .voucher-use label {color: #333;margin-right: 20px;}
.button-style-5:hover {background-color: #db2d35;border-color: #db2d35;}
.adderss-add{ width:100%; height:100%;}
.opact-tm{ background-color:rgba(0,0,0,0.4);}
.ol_box_4{width: 428px;border: 1px solid #d2d2d2;background-color: #f2f2f2;box-shadow: 0 2px 3px 0 rgba(0,0,0,.05);font-family: 'Tahoma',\5FAE\8F6F\96C5\9ED1;}
.box-header{position: relative;padding: 26px 0 14px;}
.box-close {display: block;height: 11px;padding-left: 11px;line-height: 1px;position: absolute;right: 10px;top: 10px; background:url(../images/icon1.png) -170px 0 no-repeat}
.box-title{display: block;text-align: center;font-size: 14px;font-weight: 700;}
.wi200{ width:200px}
.box-ct table tr td input,.box-ct table tr td textarea{ border:1px solid #dedede;padding: 7px 10px;font-family: 'Tahoma',\5FAE\8F6F\96C5\9ED1; outline:none}
.box-ct table tr td input:focus,.box-ct table tr td select:focus,.box-ct table tr td textarea:focus{ outline:none; border-color:#28c0c6;}
.he60{ height:60px}
.wi500{ width:500px}
.re-no{ resize:none}
.box-ok{ display:inline-block; text-align:center;min-width: 78px;height: 35px;line-height: 35px;line-height: 33px\9;border: 1px solid #d1d1d1;background-color: #f7f7f7;background-color: rgba(0,0,0,.03);font-size: 14px;margin: 0 7.5px;padding: 0 20px;white-space: nowrap;}
.box-ok:hover{ background-color:#FFF}
.box-ct table{ margin:0 auto}
.box-ct table tr td{ padding:5px 0}
.pa-50-0{ padding:50px 0}
.box-ct table tr td.pa-50-0{ padding:50px 0}
.xh{ margin-right:2px; color:#ca141c; font-family:\5B8B\4F53}
.ma-le--70{ margin-left:-70px;}
.wi25-BFB{ width:25%}
.co-28c0c6{ color:#28c0c6}
.jrgwcv:hover{ text-decoration:underline;}
.wi68{ width:68px}
.wi197{ width:197px}
.wi252{ width:252px}
.myHuaban-info {background-color: #f5f5f5;padding: 30px 0;font-size: 14px; overflow:hidden}
.myHuaban-info .myHuaban-point, .myHuaban-info .myHuaban-redeem {float: left;width: 311px;height: 95px;}
.myHuaban-info .myHuaban-point {border-right: 1px solid #dedede;}
.myHuaban-info .myHuaban-check {float: right;width: 298px;height: 95px;text-align: center;border-left: 1px solid #dedede;}
.myHuaban-info .myHuaban-point dl, .myHuaban-info .myHuaban-redeem dl {padding: 2px 0 0 30px;}
.myHuaban-info .myHuaban-point dl dt, .myHuaban-info .myHuaban-redeem dl dt {margin-bottom: 18px;}
.myHuaban-info .myHuaban-point dl dd span, .myHuaban-info .myHuaban-redeem dl dd span {color: #ca151e;font-size: 34px;}
.myHuaban-info .myHuaban-point dl dd em, .myHuaban-info .myHuaban-redeem dl dd em {font-size: 24px;margin-left: 10px;position: relative;top: -5px;}
.myHuaban-info .myHuaban-check .h-text {color: #888;margin: 6px 0 21px;}
.myHuaban-info .myHuaban-check .h-text span {color: #333;}
.ma-to-50{ margin-top:50px}





.cancel-order-detail-state {width: 100%;margin: 0 auto;padding: 32px 0 50px 0;}
.cancel-order-detail-state ol {margin-left: -389px;width: 810px;}
.cancel-order-detail-state ol:before, .cancel-order-detail-state ol:after {content: "";display: table;}
.cancel-order-detail-state ol li.first {background-image: none;}
.cancel-order-detail-state ol li.completed, .cancel-order-detail-state ol li.current {background-position: 0 40px;}
.order-state-progress li.completed, .order-state-progress li.current {background:url(../images/bg21.png) scroll repeat-x;}
.cancel-order-detail-state ol li {float: left;position: relative;width: 160px;background-position: 0 40px;}
.cancel-order-detail-state ol li.completed s {background-position: -46px -39px;}
.cancel-order-detail-state ol li s {background: url(../images/sprites23.png) scroll no-repeat;position: absolute;right: -6px;top: 32px;width: 16px;height: 16px;background-color: #fff!important;padding: 0 6px;background-position: -20px -39px;z-index: 2;}
.cancel-order-detail-state ol li dl {float: right;width: 120px;font-size: 14px;text-align: center;margin-right: -52px;color: #ccc;}
.cancel-order-detail-state ol li dl dt {margin-bottom: 46px;}
.cancel-order-detail-state ol li dl dd {line-height: 18px;}
.cancel-order-detail-state ol li.completed dl {color: #ca151e;}
.cancel-order-detail-state ol li.current s {background-position: -46px -39px;}
.cancel-order-detail-state ol li.current dl {color: #ca151e;}
.cancel-order-detail-state ol:after {clear: both;}
.wi169{width:169px;}
.wi178{width:178px}
.wi137{width:137px}
.wi118{width:118px}
.wi172{width:172px}
.wi139{width:139px}
tr td.sdesd{padding:16px 0}
tr td.bo-les{border-left:0; border-right:0}
.fo-si-16{font-size:16px}

.order-detail-receive .h {border-bottom: 1px solid #dedede;}
.order-detail-receive .h h3 {padding-left: 2px;font-size: 16px;padding-bottom: 10px;}
.order-detail-receive .b {padding-top: 10px;border-bottom: 1px solid #dedede;}
.form-info-panels {font-size: 14px;line-height: 21px;padding: 3px 0 13px;}
.order-detail-receive .b th {width: 100px;}
.form-info-panels th {text-align: right;color: #888;padding-right: 9px;font-weight:400;}
.form-info-panels th, .form-info-panels td {vertical-align: top;padding: 3.5px 0;font-size:14px;}
.pi{padding:50px 0 10px 0}


tr td.litz-pa{padding-left:40px;line-height: 25px;}
.prousimgs{ width:60px; height:60px; border:1px solid #dedede}

.dd-cloth-buy{ border:1px solid #dedede}
.dd-cloth-buy td{ height:30px}
.merge-tab tr th:last-child{ border:0}
.merge-tab tr th:first-child{ border:0}
th.borsdjk{border-right: 1px solid #fff}
.o-pro img {height:70px;width: 70px;}
/*----------------------------------------------------------------------------我的订单-结束------------------------------------------------------------------------------------------------------------*/

.salesperson{color:#F90; line-height:18px; margin-top:10px; border-top:1px solid #dedede; padding-top:10px}
.clickshop{text-align:center; clear:both; margin-top:180px; color:#000}
.clickshop a{padding:10px 18px; background-color:#ca141d;border-radius: 10px;color: white;}


.fillorder .tit {
	color:#666666;
	font-size:16px
}
.spriteform {
	position:relative;
	padding:20px;
	margin-top:6px
}
.spriteform:before {
	content:"";
	background:url(../images/stripe.png) no-repeat;
	width:1040px;
	height:7px;
	position:absolute;
	top:0;
	left:10px
}
.spriteform:after {
	content:"";
	background:url(../images/stripe.png) no-repeat;
	width:1040px;
	height:7px;
	position:absolute;
	bottom:0;
	left:10px
}
.spriteform .sprite_le_ri {
	display:block;
	width:100%;
	height:100%
}
.spriteform .sprite_le_ri:before {
	content:"";
	background:url(../images/stripe2.png);
	width:9px;
	height:100%;
	position:absolute;
	top:0;
	left:0
}
.spriteform .sprite_le_ri:after {
	content:"";
	background:url(../images/stripe2.png);
	width:8px;
	height:100%;
	position:absolute;
	top:0;
	right:0
}
.consignee-list {
	margin:0 30px;
	height:42px;
	overflow:hidden;
	margin-top:10px
}
.consignee-list ul li {
	margin:6px 0;
	overflow:hidden
}
.consignee-list ul li:hover {
	background:#fff3f3
}
.consignee-list ul li:hover .opbtns_editdel {
	visibility:inherit
}

.addrdetail {
	height:30px;
	line-height:30px;
	margin-left:20px
}
.addrdetail span {
	display:inline-block;
	margin-left:20px;
	color:#666666
}
.addrdetail .addr-default {
	display:inline-block;
	margin:5px 10px;
	background-color:#999;
	color:#fff;
	padding:0 3px;
	line-height:20px
}


.opbtns_editdel {
	visibility:hidden;
	float:right;
	text-align:right;
	height:30px;
	line-height:30px
}
.opbtns_editdel a {
	margin-right:10px;
	color:#005ea7;
	cursor:pointer
}
.opbtns_editdel a:hover {
	color:#e4393c
}
.item_select_t {
    position: relative;
    border: 1px solid #ddd;
    height: 27px;
    line-height: 27px;
    width: 140px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
}
.item_select_t:hover {
	border:2px solid #e4393c;
}

.fl{ float: left; }
.fr {float: right;}
.p:before, .p:after {
    content: "";
    clear: both;
    display: block;
}


.curtr {
	border:2px solid #e4393c;
	/*padding:4px 10px*/
}
.curtr b {
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	width:12px;
	height:12px;
	overflow:hidden;
	background:url(../images/selected-icon.png) no-repeat
}
.addr-switch {
	height:18px;
	line-height:18px;
	padding:5px 0;
	cursor:pointer;
	margin:0 30px;
	color:#666666;
	border-bottom:1px solid #f6f6f6
}
.addr-switch b {
	display:inline-block;
	vertical-align:middle;
	height:10px;
	line-height:10px;
	width:9px;
	margin-left:5px;
	background:url(../images/addr-i.png) no-repeat 0 0
}
.w1050 {width: 1050px;}