<!DOCTYPE html>
<html>
<head>
  <title>我的收藏-{$tpshop_config['shop_info_store_title']}</title>
  <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/p-common.css" rel="stylesheet" type="text/css" media="all" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<body>
  <div class="mobel-header">
    <a href="/mobile/User/index" class="back"></a>
    <div class="title">我的收藏</div>
  </div>
  <div class="main_content collPage clearfix">
    <!-- 搜索列表 -->
    <div class="classify">
      <ul class="items selected">
	<volist name="lists" id="list">
        <li>
          <a href="{:U('/Home/Goods/goodsInfo',array('id'=>$list[goods_id]))}">
            <img src="{$list.original_img}" alt="">
            <p class="details">{$list[goods_name]}</p>
            <p class="price">销售价：¥<?php echo $list['shop_price'] == '0.00'?'暂无': number_format($list['shop_price']); ?></p>
            <p class="price1">官方公价：¥<?php echo $list['market_price'] == '0.00'?'暂无': number_format($list['market_price']); ?></p>
          </a>
        </li>
	</volist>
        <div style="clear: both" class="clearList"></div>
      </ul>
      <!-- <div class="dropload-down"><div class="dropload-refresh">↑上拉加载更多</div></div></div> -->
    </div>
  <!---->
<include file="public/footer_menu" />

<script src="__STATIC__/js/layer/layer-min.js"></script>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/cookie.js"> </script>
<script src="__STATIC__/js/bootstrap.js"> </script>
<script src="__STATIC__/js/responsiveslides.min.js"></script>
<script src="__STATIC__/js/simpleCart.min.js"> </script>
<script src="__STATIC__/js/global.js"></script>
<script src="__STATIC__/js/mine.js"> </script>
</body>
</html>
