<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="__STATIC__/css/style2.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" media="all" />
	

    <link href="https://cdn.bootcss.com/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet">
    <link href="__STATIC__/css/form.css" rel="stylesheet" type="text/css" media="all" />

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>

<style>

	body{
		background-color: rgb(246, 246, 248);
	}
</style>

<body>
<!--header-->
<include file="public/header"/>
<!--header-e-->
<div class="collePage setPage main_artical">
  <div class="contact my-box contentBox">
    <div class="tabs">
        <include file="public/user_left" />

      <!--<div class="tab-content first" id="tab-detail1">-->
        <!--<h3>-->
          <!--<ul class="title">-->
            <!--<li class="check">-->
              <!--<label><input type="checkbox" class="check-input AllcheckBox">全选</label>-->
            <!--</li>-->
            <!--<li class="img-box">商品图片</li>-->
            <!--<li class="details">商品名称</li>-->
            <!--<li class="colle">类型</li>-->
            <!--<li class="price">价格</li>-->
            <!--<li class="depoist">定金</li>-->
            <!--<li class="opration">操作</li>-->
          <!--</ul>-->
        <!--</h3>-->
        <!--<ul class="items" id="list">-->
          <!--<li class="item">-->
            <!--<div class="check">-->
              <!--<label><input type="checkbox" class="check-input checkBox"></label>-->
            <!--</div>-->
            <!--<div class="img-box">-->
              <!--<img src="image/list/items1.png" alt="">-->
            <!--</div>-->
            <!--<div class="details">-->
              <!--<p class="detail">Gucci sylvie 系列经典蓝红条纹装饰女士背提包 白色</p>-->
              <!--<p class="time">加入收藏时间：<span>2018-06-18 18:12:14</span></p>-->
            <!--</div>-->
            <!--<div class="colle">已收藏</div>-->
            <!--<div class="price"><span>133,250</span>元</div>-->
            <!--<div class="depoist"><span>100,000</span>元</div>-->
            <!--<div class="button">-->
              <!--<a href="javascript:;" class="buy">立即购买</a>-->
              <!--<a href="javascript:;" class="cancel">取消收藏</a>-->
            <!--</div>-->
          <!--</li>-->
          <!--<li class="item">-->
            <!--<div class="check">-->
              <!--<label><input type="checkbox" class="check-input checkBox"></label>-->
            <!--</div>-->
            <!--<div class="img-box">-->
              <!--<img src="image/list/items1.png" alt="">-->
            <!--</div>-->
            <!--<div class="details">-->
              <!--<p class="detail">Gucci sylvie 系列经典蓝红条纹装饰女士背提包 白色</p>-->
              <!--<p class="time">加入收藏时间：<span>2018-06-18 18:12:14</span></p>-->
            <!--</div>-->
            <!--<div class="colle">已收藏</div>-->
            <!--<div class="price"><span>133,250</span>元</div>-->
            <!--<div class="depoist"><span>100,000</span>元</div>-->
            <!--<div class="button">-->
              <!--<a href="javascript:;" class="buy">立即购买</a>-->
              <!--<a href="javascript:;" class="cancel">取消收藏</a>-->
            <!--</div>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<div class="_select page">-->
          <!--<div class="check">-->
            <!--<input type="checkbox" class="check-input AllcheckBox">全选-->
          <!--</div>-->
          <!--<div class="button">-->
            <!--<a href="javascript:;" class="buy">立即购买</a>-->
            <!--<a href="javascript:;" class="cancel">取消收藏</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <div class="tab-content second" id="tab-detail2">
        <div class="setForm">
          <form action="" method="post" id="setting">
            <h3>基本信息</h3>
            <div class="headImage">
              <a href="javascript:void(0);">
                <img id="preview" src="{$user.head_pic|default='__STATIC__/images/headPic.jpg'}" onclick="GetUploadify2(1,'head_pic','head_pic','add_img')">
              </a>
              <input type="hidden" name="head_pic" id="head_pic" value="">
            </div>
            <div class="formRow">
              <div class="label">昵称：</div>
              <div class="inputtext"><input class="text" type="text" name="nickname" value="{$user.nickname}"> <span class="nickname_error" style="color: red; margin-left: 10px; font-size: 14px; display: none;">*字符限制3-11个字符</span></div>
            </div>
            <div class="formRow">
              <div class="label">真实姓名：</div>
              <div class="inputtext realname_box">
                <if condition="$user.realname != '' && $user.IDCard != ''">
                  {$user.realname}
                  <else/>
                  <input class="text" type="text" name="realname" value="{$user.realname}">
                </if>
              </div>
            </div>
            <div class="formRow">
              <div class="label">身份证号：</div>
              <div class="inputtext IDCard_box" style="overflow: hidden;">
                <if condition="$user.realname != '' && $user.IDCard != ''">
                  {$user.IDCard}
                  <else/>
                  <input style="float: left;" class="text" type="text" name="IDCard" value="{$user.IDCard}"><button style="float:left; height: 28px;  line-height: 28px;margin: 2px 0 0 10px;" type="button" class="renzhengBtn">实名认证</button>
                </if>
                
              </div>
            </div>
            <!-- <div class="formRow">
              <div class="label">姓别：</div>
              <div class="inputtext">
                <input id="sex" type="hidden" name="sex" value="{$user['sex']}">
                              <span class="radio <if condition="$user['sex'] eq '0'">current</if>" name="sex" value="0" ></span><span class="radioValue">保密</span>
                              <span class="radio <if condition="$user['sex'] eq '1'">current</if>" name="sex" value="1" ></span><span class="radioValue">男</span>
                              <span class="radio <if condition="$user['sex'] eq '2'">current</if>" name="sex" value="2" ></span><span class="radioValue">女</span>
              </div>
            </div>
            <div class="formRow">
              <div class="label">生日：</div>
              <div class="inputtext">
                <input class="text" id="timePicker" type="text" name="birthday" value="{$user.birthday == '0000-00-00' ? '' : $user.birthday}">
              </div>
            </div> -->
            <div class="formRow">
              <div class="label">手机号码：</div>
              <div class="inputtext">{:substr_replace($user['mobile'], '****', 3, 4)} 
              </div>
            </div>
            <div class="formRow">
              <div class="label">所在地：</div>
              <div class="inputtext distpicker">
                <div data-toggle="distpicker">
                    <div class="form-group">
                        <label class="sr-only" for="province1">Province</label>
                        <select class="form-control" id="province1" data-province="{$user['province1']}" name="province1"></select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="city1">City</label>
                        <select class="form-control" id="city1" data-city="{$user['city1']}" name="city1"></select>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="district1">District</label>
                        <select class="form-control" id="district1" data-district="{$user['district1']}" name="district1"></select>
                    </div>
                </div>
              </div>
            </div>
            <div class="formRow">
              <div class="label">详细地址：</div>
              <div class="inputtext address"><input class="text" type="text" name="address" value="{$user.address}"></div>
            </div>
            <input id="submit" type="button" value="提交">
          </form>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>

<!--<div class="main_content setPage">-->
	<!--<div class="contentBox">-->
		<!--<div class="pageTitle">设置</div>-->
		<!--<div class="setForm">-->
			<!--<div class="personal-msg _public">-->
				<!--<span>个人信息</span>-->
				<!--<input type="text" readonly="readonly" placeholder="完善信息" >-->
			<!--</div>-->
			<!---->
			<!--<div class="collection _public">-->
				<!--<a href="{:U('/Home/User/goods_collect')}">我的收藏</a>-->
			<!--</div>-->


			<!--<div class="log-out">-->
				<!--<input type="text" class="out" value="退出登录" onclick="location.href='{:U('Home/user/logout')}'">-->
			<!--</div>-->
			<!--<form action="" method="post" id="setting">-->
				<!--<div class="headImage">-->
					<!--<a href="javascript:void(0);">-->
						<!--<img id="preview" src="{$user.head_pic|default='__STATIC__/images/headPic.jpg'}" onClick="GetUploadify2(1,'head_pic','head_pic','add_img')"/>-->
					<!--</a>-->
					<!--<input type="hidden" name="head_pic" id="head_pic" value="{$user.head_pic}">-->

				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">昵　称：</div>-->
					<!--<div class="inputtext"><input class="text" type="text" name="nickname" value="{$user.nickname}"></div>-->
				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">真实姓名：</div>-->
					<!--<div class="inputtext"><input class="text" type="text" name="realname" value="{$user.realname}"></div>-->
				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">姓　别：</div>-->
					<!--<div class="inputtext">-->
						<!--<input id="sex" type="hidden" name="sex" value="{$user['sex']}">-->
						<!--<span class="radio <if condition="$user['sex'] eq '0'">current</if>" name="sex" value="0" ></span><span class="radioValue">保密</span>-->
						<!--<span class="radio <if condition="$user['sex'] eq '1'">current</if>" name="sex" value="1" ></span><span class="radioValue">男</span>-->
						<!--<span class="radio <if condition="$user['sex'] eq '2'">current</if>" name="sex" value="2" ></span><span class="radioValue">女</span>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">生　日：</div>-->
					<!--<div class="inputtext">-->
						<!--<input id="birthday" type="hidden" name="birthday">-->
						<!--<div class="timebox"><input class='birthday' type="text" name="" value="{$user.birthday|date='Y',###}"><span class="plus"></span><span class="decrease"></span></div> <span class="timeLabel">年</span>-->
						<!--<div class="timebox"><input class='birthday' type="text" name="" value="{$user.birthday|date='m',###}"><span class="plus"></span><span class="decrease"></span></div> <span class="timeLabel">月</span>-->
						<!--<div class="timebox"><input class='birthday' type="text" name="" value="{$user.birthday|date='d',###}"><span class="plus"></span><span class="decrease"></span></div> <span class="timeLabel">日</span>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">手机号码：</div>-->
					<!--<div class="inputtext"><input id="telephone" style="display: none" class="text" type="text" name=""><span class="tel">{$user['mobile']}</span>&lt;!&ndash;<span class="editPhoneButton">修改</span>&ndash;&gt;</div>-->
				<!--</div>-->
				<!--<div class="formRow">-->
					<!--<div class="label">邮箱地址：</div>-->
					<!--<div class="inputtext"><input class="text" type="text" name="email" value="{$user['email']}"></div>-->
				<!--</div>-->



				<!--<input type="button" class="cancel" value="取消">				-->


				<!--<input id="submit" type="button" value="提交">-->
			<!--</form>-->
		<!--</div>-->
	<!--</div>-->
<!--</div>-->
<!---->
<!--footer-s-->
<include file="public/footer"/>
<!---->
</body>
<script src="__STATIC__/js/bootstrap.js"> </script>
<script src="__STATIC__/js/responsiveslides.min.js"></script>
<script src="__STATIC__/js/simpleCart.min.js"> </script>
<script src="__PUBLIC__/js/global.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.js"> </script>

<script type="text/javascript" src="__STATIC__/js/simpleCart.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.tabslet.min.js"></script>
<script src="__STATIC__/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/distpicker.data.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/distpicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/mine.js"> </script>
<script>

    $(function() {

        $.datepicker.regional['zh-CN'] = {
          closeText: '关闭',
          prevText: '&#x3c;上月',
          nextText: '下月&#x3e;',
          currentText: '今天',
          monthNames: ['一月','二月','三月','四月','五月','六月',
            '七月','八月','九月','十月','十一月','十二月'],
          monthNamesShort: ['一','二','三','四','五','六',
            '七','八','九','十','十一','十二'],
          dayNames: ['星期日','星期一','星期二','星期三','星期四','星期五','星期六'],
          dayNamesShort: ['周日','周一','周二','周三','周四','周五','周六'],
          dayNamesMin: ['日','一','二','三','四','五','六'],
          weekHeader: '周',
          dateFormat: 'yy-mm-dd',
          firstDay: 1,
          isRTL: false,
          showMonthAfterYear: true,
          yearSuffix: '年',
          changeYear: true,
          changeMonth: true,
        };
        $.datepicker.setDefaults($.datepicker.regional['zh-CN']);

        $("#timePicker").datepicker({
          dateFormat: 'yy-mm-dd',
        });
    });
</script>
<script>
    $(function(){
        // 选择性别
        $('.radio').click(function(){
            $(this).addClass('current').siblings('.radio').removeClass('current');
            $('#sex').val($(this).attr('value'));
        })
        // 修改手机号
//        $('.editPhoneButton').click(function(){
//            $('#telephone').val({$user['mobile']});
//            $('.editPhoneButton').hide();
//            $('.tel').hide();
//            $('#telephone').show();
//        })
//        $('#telephone').blur(function(){
//            $(this).hide();
//            $('.editPhoneButton').show();
//            $('.tel').show();
//        })

        // 提交
        $('#submit').click(function(){
            var obj = $('.birthday');
            var time = '';
            for(var i=0; i<obj.length; i++) {
                time += obj[i].value;
            }
            $('#birthday').val(time);

            var nickname = $('input[name=nickname]').val()
            var nickname_length = nickname.length;
            if(nickname_length > 11 || nickname_length < 3) {
                $('.nickname_error').show();
                return false;
            }


            $.ajax({
                type:'post',
                dataType:'json',
                data:$("#setting").serialize(),
                url:"{:U('Home/User/info')}",
                success:function(res){
                    if(res.status == 1){
                        layer.msg('修改信息成功', {icon: 1, time:3000}, function(){
                            window.location.reload();
                        });
                    }else{
                        layer.msg(res.msg, {icon: 3});
                    }
                }
            });

        })

    })
    $(function(){
        $('.choice_hobby').click(function(){
            $(this).toggleClass('red');
        })
    })
    function delimg(file,t){
        $.get(
            "/index.php?m=Home&c=Uploadify&a=delupload",{action:"del", filename:file},function(){}
        );
        $('#head_pic').val('');
        $('#preview').attr('src','');
        $(t).remove();
    }
    function add_img(str){
        var head_pic = $('#head_pic').val();
        $('#head_pic').val(str);
        $('#preview').attr('src',str);
        $('img[class="headpic"]').attr('src',str);

    }

    // 身份证实名认证
    $('.renzhengBtn').click(function(){
        var realname = $('input[name=realname]').val();
        var IDCard = $('input[name=IDCard]').val();

        if(realname == '') layer.msg('请填写姓名', {icon:2})
        if(IDCard == '') layer.msg('请填写身份证号', {icon:2})

        layer.load(1);
        $.ajax({
            url: '{:U("api/user/IDCardAuth")}',
            type: 'post',
            dataType: 'json',
            data: {user_id: '{$user_id}', realname: realname, IDCard: IDCard},
            success: function(data){
                layer.closeAll('loading');
                if(data.code == 200) {
                   layer.msg('认证成功',{icon:1}, function(){
                       $('.realname_box').html(realname);
                        $('.IDCard_box').html(IDCard);
                   })
                } else {
                   layer.msg(data.msg, {icon: 2})
                }
            }
        })

    })
</script>
</html>
