<!DOCTYPE html>
<html>
<head>
    <title>品牌动态-{$tpshop_config['shop_info_store_title']}</title>
    <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/form.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/common.css" rel="stylesheet" type="text/css" media="all" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
    <style type="text/css">
        .detail img {max-width: 100%;}
    </style>
</head>
<body style="background-color: rgb(246, 246, 248);">
<!--header-s-->
<!--header-->
<include file="public/header"/>
<!--header-e-->
<div class="product-model contactPage main_artical">
    <div class="contact my-box">
        <div class="tabs">
<ul class='horizontal main-tab'>
        <p class="title">关于国典</p>
        <li onclick="window.location.href='{:U('/Home/Topic/detail',array('topic_id'=>1, 'tab'=>'tab-detail1'))}'"><a href="javascript:;">公司介绍</a></li>
        <li class="active" onclick="window.location.href='{:U('/Home/Article/articleList')}'"><a href="{:U('/Home/Article/articleList')}">品牌动态</a></li>
        <li onclick="window.location.href='{:U('/Home/Topic/detail',array('topic_id'=>1, 'tab'=>'tab-detail3'))}'"><a href="javascript:;">品牌保障</a></li>
        <!-- <li onclick="window.location.href='{:U('/Home/Topic/detail',array('topic_id'=>1, 'tab'=>'tab-detail4'))}'"><a href="javascript:;">鉴定实力</a></li> -->
        <li onclick="window.location.href='{:U('/Home/Topic/detail',array('topic_id'=>1, 'tab'=>'tab-detail5'))}'"><a href="javascript:;">诚聘英才</a></li>
        <p class="title contact_us">联系我们</p>
        <li onclick="window.location.href='{:U('/Home/Topic/detail',array('topic_id'=>1, 'tab'=>'tab-detail6'))}'"><a href="javascript:;">联系客服</a></li>
      </ul>
            <div class="tab-content second" id="tab-detail2">
                <h3>品牌动态</h3>
                <ul class="detail clearfix">
                    <foreach name="article_lists" item="v" key="k">
                        <li>
                            <a href="{:U('/Home/Article/detail',array('article_id'=>$v['article_id']))}">
                                <img src="{$v['thumb']}" alt="">
                                <div class="bottom">
                                    <p class="title">{$v['title']}</p>
                                </div>
                            </a>
                        </li>
                    </foreach>
                </ul>
                <nav aria-label="Page navigation">
                    {$page->show()}
                </nav>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!--footer-s-->
<include file="public/footer"/>
<!--footer-e-->
</body>
<script type="text/javascript" src="__STATIC__/js/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/cookie.js"> </script>
<script type="text/javascript" src="__STATIC__/js/bootstrap.js"> </script>
<script type="text/javascript" src="__STATIC__/js/responsiveslides.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/jquery.jscrollpane.min.js"></script>
<script type="text/javascript" src="__STATIC__/js/simpleCart.min.js"> </script>
<script type="text/javascript" src="__STATIC__/js/mine.js"> </script>
<script type="text/javascript" src="__STATIC__/js/jquery.tabslet.min.js"></script>
</html>