<!DOCTYPE html>
<html>
<head>
  <title>列表页-{$tpshop_config['shop_info_store_title']}</title>
  <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/p-common.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/dropload.css" rel="stylesheet" type="text/css" media="all" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<body>
<!--header-s-->
<div class="mobel-header">
  <a href="{:U('Index/index')}" class="back"></a>
  <div class="title">{$goodsCate.name}</div>
</div>
<!--header-e-->
<div class="main_content brand-lists listsPage clearfix">
  <!-- 搜索列表 -->
  <div class="_shade"></div>
  <div class="search-lists">
    <div class="search-content _brand">
      <if condition="in_array($cat_id, array(1, 3, 5, 6))">
      <foreach name="$filter_brand_class" item="v" key="k">
        <div class="search-item">
          <div class="left category"><if condition="$k == 0">顶级:<elseif condition="$k == 1"/>奢华:<elseif condition="$k == 2"/>豪华:<elseif condition="$k == 3"/>时尚:<else/>亲民:</if></div>
          <div class="right brands">
            <foreach name="$v" item="v" key="k">
              <a href="{$v[href]}" data-href="{$v[href]}"  data-key='brand' data-val='{$v[id]}'>{$v[name]}</a>
            </foreach>
          </div>
        </div>
      </foreach>
      <else/>
         <div class="search-item">
          <div class="right brands">
            <foreach name="$filter_brand" item="v" key="k">
              <a href="{$v[href]}" data-href="{$v[href]}"  data-key='brand' data-val='{$v[id]}'>{$v[name]}</a>
            </foreach>
          </div>
        </div>
      
      </if>
    </div>
    <div class="search-content _mechanical">
      <ul>
        <foreach name="filter_attr[0][attr_value]" item="v" key="k">
          <li><a href="{$v[href]}" data-href="{$v[href]}"  data-key='{$v[key]}' data-val='{$v[val]}'>{$v[attr_value]}</a></li>
        </foreach>
      </ul>
    </div>
    <div class="search-content">

    </div>
  </div>
  <ul class="tabs">
    <li class="brand"><a href="javascript:;">品牌</a></li>
    <if condition="$filter_attr">
      <li class="mechanical"><a href="javascript:;">机械类型</a></li>
      <else/>
      <style>
        .listsPage .tabs li{width: 50%;}
      </style>
    </if>
    <if condition="$order['shop_price'] == desc">
      <li class="price curren"><a href="<?php echo urldecode(U('Goods/goodsList',array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'asc')),''));?>">价格</a></li>
      <elseif condition="$order['shop_price'] == asc"/>
      <li class="price active"><a href="<?php echo urldecode(U('Goods/goodsList',array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'desc')),''));?>">价格</a></li>
      <else/>
      <li class="price"><a href="<?php echo urldecode(U('Goods/goodsList',array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'desc')),''));?>">价格</a></li>
    </if>
  </ul>
  <div class="tab-content classify">
    <ul class="items selected">
      <foreach name="goods_list" item="v" key="k">
        <li><a href="{:U('Goods/goodsInfo',array('id'=>$v[goods_id]))}">
          <if condition="$v['reserved']==1"><div class='is_reserved'></div>
            <elseif condition="$v['store_count']<=0"/>
            <div class='img_shadow'></div>
              <elseif condition="$v[temai] eq 1">
                <div class="temai_icon"></div>
          </if>
            <img src="{$v.goods_id|goods_thum_images=236,236}" alt="">
            <p class="details" style="height:40px;overflow: hidden;">{$v[goods_name]}</p>
	    <p class="price">销售价：¥<?php echo $v['shop_price'] == '0.00'?'暂无': number_format($v['shop_price']); ?></p>
            <p class="details">官方公价：¥<?php echo $v['market_price'] == '0.00'?'暂无': number_format($v['market_price']); ?></p>
          </a>
        </li>
      </foreach>
      <div style="clear: both" class = 'clearList'></div>
    </ul>
  </div>
</div>
<!--<nav aria-label="Page navigation" style="text-align: center;">-->
<!--{$page->show()}-->
<!--</nav>-->
<!--footer-s-->
<!--footer-e-->
</body>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/type.js"></script>
<script src="__STATIC__/js/dropload.js"></script>
<script>
    $(function(){
        // 页数
        var page = 0;
        // 每页展示5个
        var size = 1;
        var arr = {};
        if('{$Request.param.id}') arr['id'] = '{$Request.param.id}';
        if('{$Request.param.special}') arr['special'] = '1';
        if('{$Request.param.brand_id}' != '') arr['brand_id'] = '{$Request.param.brand_id}';
        if('{$Request.param.attr}' != '') arr['attr'] = '{$Request.param.attr}';
        if('{$Request.param.sort}' != '') arr['sort'] = '{$Request.param.sort}';
        if('{$Request.param.sort_asc}' != '') arr['sort_asc'] = '{$Request.param.sort_asc}';
        if('{$Request.param.p}' != ''){
            page = '{$Request.param.p}';
        }else{
            page = 1;
        }
        // alert(JSON.stringify(arr));
        // dropload
        $('.tab-content').dropload({
            scrollArea : window,
            loadDownFn : function(me){
                page++;
                arr['p'] = page;
                //console.log(arr);
                // 拼接HTML
                var result = '';
                $.ajax({
                    type: 'GET',
                    url: "{:U('Goods/ajaxGoodsList')}",
                    data: arr,
                    dataType: 'json',
                    success: function(data){
                        if (!data) {
                            var arrLen = 0;
                        }else{
                            var arrLen = data.length;
                        }
                        if(arrLen > 0){
                            for(var k=0; k<arrLen; k++){
                                result +=   '<li><a href="/mobile/Goods/goodsInfo/id/'+data[k]['goods_id']+'.html">'
                                if(data[k]['store_count']<=0){
                                    result +=  '<div class="img_shadow"></div>';
                                } else if(data[k]['temai']==1) {
                                   result +=  '<div class="temai_icon"></div>';
                                 }
                                 
                                    result +='<img src="/index.php?m=Mobile&c=Goods&a=ajax_goods_thum_images&goods_id='+data[k]['goods_id']+'&width=236&height=236" alt="">'
                                    +'<p class="details" style="height:40px;overflow: hidden;">'+data[k]['goods_name']+'</p>';
result += '<p class="price">销售价：¥';
                                if(data[k]['shop_price'] == '0.00'){
                                    result +=  '暂无';
                                }else{
                                    result +=  toThousands(data[k]['shop_price']);
                                }                                
result +='<p class="details">官方公价：¥ ';
                                if(data[k]['market_price'] == '0.00'){
                                    result +=  '暂无';
                                }else{
                                    result +=  toThousands(data[k]['market_price']);
                                }
                                result +='</p></a></li>';
                            }
                            // 如果没有数据
                        }else{
                            // 锁定
                            me.lock();
                            // 无数据
                            me.noData();
                        }
                        // 为了测试，延迟1秒加载
                        setTimeout(function(){
                            // 插入数据到页面，放到最后面
                            $('.clearList').before(result);
                            // 每次数据插入，必须重置
                            me.resetload();
                        },1000);
                    },
                    error: function(xhr, type){
                        alert('Ajax error!');
                        // 即使加载出错，也得重置
                        me.resetload();
                    }
                });
            },
            'autoLoad':false,
        });
    });
    function toThousands(n) {
        var num=parseInt(n).toString();
        var result = [ ], counter = 0;
        num = (num || 0).toString().split('');
        for (var i = num.length - 1; i >= 0; i--) {
            counter++;
            result.unshift(num[i]);
            if (!(counter % 3) && i != 0) { result.unshift(','); }
        }
        return result.join('');
    }
</script>
</html>
