<!DOCTYPE html>
<html>
<head>
	<title>{$tpshop_config['shop_info_store_title']}</title>
	<link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
	<link href="__STATIC__/css/common.css?v=1" rel="stylesheet" type="text/css" media="all" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="" />
	<meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
	<style type="text/css">
		img {max-width: 100%;}
	</style>
</head>
<body>
<!--header-s-->
<include file="public/header"/>
<!--header-e-->

<!---->
<div class="main_content">
	<div class="slider">
		<div class="callbacks_container">
			<ul class="rslides" id="slider1">
				<adv pid="1" item="v1" limit="10">
					<li>
						<a href="{$v1[ad_link]}" <if condition="$v1['target'] eq 1">target="_blank"</if>>
						<img src="{$v1[ad_code]}" title="{$v1[title]}" alt="{$v1[title]}"></a>
					</li>
				</adv>
			</ul>
		</div>
	</div>
	<!---->
	<div class="title">
		<p>商品分类</p>
		<p>C O M M O D I T Y &nbsp; C L A S S I F I C A T I O N &nbsp</p>
	</div>
	<div class="slider goods">
		<div class="callbacks_container">
			<ul class="rslides" id="slider2"><li>
				<adv pid="9" item="v1" limit="5">			
<div class="items"><a href="{$v1[ad_link]}" <if condition="$v1['target'] eq 1">target="_blank"</if>><img src="{$v1[ad_code]}" alt="{$v1[ad_name]}"><p class="detail">{$v1[ad_name]}</p></a></div>
				</adv>
			</li></ul>
		</div>
	</div>
<!-- 新加 -->
<div class="title">
		<p>新品上市</p>
		<p>N E W &nbsp; P R O D U C T S &nbsp; L I S T E D</p>
	</div>

  <div class="img-box">
    <div class="left">
      <div class="top">
		<adv pid="10" item="v1" limit="1">	
			<a href="{$v1[ad_link]}" <if condition="$v1['target'] eq 1">target="_blank"</if>>
				<img src="{$v1[ad_code]}" alt="">
				<div class="shade"><span>{$v1[ad_name]}</span></div>
			</a>	  
		</adv>
      </div>
      <div class="bottom">
	    <adv pid="11" item="v1" limit="2">
        <a href="{$v1[ad_link]}" <if condition="$v1['target'] eq 1">target="_blank"</if>>
		<img src="{$v1[ad_code]}" alt="">
		<div class="shade"><span>{$v1[ad_name]}</span></div>
	</a>
		</adv>
      </div>
    </div>
    <div class="right">
      <adv pid="12" item="v1" limit="2">
        <a href="{$v1[ad_link]}" <if condition="$v1['target'] eq 1">target="_blank"</if>>
		<img src="{$v1[ad_code]}" alt="">
		<div class="shade"><span>{$v1[ad_name]}</span></div>
	</a>
	  </adv>
    </div>
  </div>
<!-- 新加 -->
	<div class="title">
		<p>品牌动态</p>
		<p>B R A N D &nbsp; D Y N A M I C</p>
	</div>
	<div class="offers">
<ul>
	<foreach name="recommend_article" item="v" key="k">
      <li>
        <a href="{:U('Home/Article/detail',array('article_id'=>$v[article_id]))}">
          <img src="{$v['thumb']}" alt="">
        </a>
      </li>
	</foreach>
</ul>

		<a href="{:U('Home/Article/articleList')}" class="more">更多</a>	
</div>
	
	<div class="footer-lists">
    		<ul>  
        		<li>
          			<p class="_title">全球奢品</p>
          			<p>EXCLUSIVE</p>
          			<p>LUXURY GOODS</p>
        		</li>
        		<li>
          			<p class="_title">现货秒发</p>
          			<p>DELIVERY</p>
          			<p>FAST</p>
        		</li>
        		<li>
          			<p class="_title">新品首发</p>
          			<p>NEW</p>
          			<p>ARRIVAL</p>
        		</li>
        		<li>
          			<p class="_title">尊享服务</p>
          			<p>VIP</p>
          			<p>SERVICE</p>
        		</li>
    		</ul> 
  	</div>
</div>
<!--footer-s-->
<include file="public/footer"/>
<!--footer-e-->
</body>
<!-- <script src="__STATIC__/js/bootstrap.js"> </script> -->
<script src="__STATIC__/js/responsiveslides.min.js"></script>
<script src="__STATIC__/js/simpleCart.min.js"> </script>
<!--<script type="text/javascript" src="__STATIC__/js/memenu.js"></script>-->
<script>
    $(function () {
        $("#slider1").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: true,
        });
        $("#slider2").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });</script>
<script>
    // 图片移入效果
    $(".main_content > .img-box a").hover(function (){  
        $(this).find("div").animate({width: 'toggle'})
    }); 
</script>
</html>
