<!DOCTYPE html>
<html>
<head>
  <title>列表页-{$tpshop_config['shop_info_store_title']}</title>
  <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
  <link href="__STATIC__/css/common.css?v=1" rel="stylesheet" type="text/css" media="all" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<style>
.col-md-1{
  padding-right: 0;
}
</style>
<body style="background: rgb(246, 246, 248);">
<!--header-s-->
<include file="public/header"/>
<!--header-e-->
<div class="main_artical listsPage">


  <div class="_shade"></div>
  <input type="button" value="取消" class="_cancle">


  <div class="search-tab">
    <ol class="tab-title">
      <li class="brand active"><a href="#brand-list">商 品 筛 选</a></li>
      <li class="search-title"><a href="#search-list">商 品 排 序</a></li>
    </ol>
    <ul class="brand-list tab-content" id="brand-list" style="display:none">
      <li class="active"><a href="javascript:;">
        <if condition="$goodsCate['parent_id'] eq 0">
          {$goodsCate.parent_name}
          <else/>
          {$goodsCate.parent_name}
        </if>
      </a></li>
      <if condition="$filter_brand neq null">
      <li>
        <a href="javascript:;">品牌</a>
           <ul class="1">
              <li><a href="javascript:;">品牌</a></li>
              <foreach name="$filter_brand" item="v" key="k">
                      <li><a href="{$v[href]}" data-href="{$v[href]}"  data-key='brand' data-val='{$v[id]}'>{$v[name]}</a></li>
              </foreach>
           </ul>
      </li>
      </if>
       <foreach name="filter_attr" item="v" key="k">
        <if condition="!empty($v['attr_name'])">
          <li>
            <a href="javascript:;">{$v.attr_name}</a>
            <ul>
              <li><a href="javascript:;">{$v.attr_name}</a></li>
              <foreach name="v[attr_value]" item="v2" key="k2">
                <li><a href="{$v2[href]}" data-href="{$v2[href]}" data-key='{$v2[key]}' data-val='{$v2[val]}'>{$v2[attr_value]}</a></li>
              </foreach>
            </ul>
          </li>
        </if>
      </foreach>
      <foreach name="filter_spec" item="v" key="k">
        <if condition="!empty($v['name'])">
          <li>
            <a href="javascript:;">{$v.name}</a>
            <ul>
              <li><a href="javascript:;">{$v.name}</a></li>
              <foreach name="v[item]" item="v2" key="k2">
                <li><a href="{$v2[href]}" data-href="{$v2[href]}" data-key='{$v2[key]}' data-val='{$v2[val]}'>{$v2[item]}</a></li>
              </foreach>
            </ul>
          </li>
        </if>
      </foreach>
    </ul>
    <ul class="search-list tab-content" id="search-list" style="display:none">
      <li class=" active <if condition="$Request.param.sort eq ''">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",$filter_param,''));?>">默认排序</a></li>
      <li class="<if condition="$Request.param.sort eq 'sort'">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'sort','sort_asc'=>'desc')),''));?>">最热门</a></li>
      <li class="<if condition="$Request.param.sort eq 'is_new'">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'is_new')),''));?>">最新</a></li>
      <li class="<if condition="$Request.param.sort eq 'shop_price' && $Request.param.sort_asc eq 'desc' ">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'desc')),''));?>">价格</a></li>
      <li class="<if condition="$Request.param.sort eq 'shop_price' && $Request.param.sort_asc eq 'asc' ">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'asc')),''));?>">价格</a></li>
    </ul>
  </div>
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="{:U('Home/Goods/goodsList',array('id'=>$cat_id))}">全部</a></li>
      <li class="active">
        <if condition="$goodsCate['parent_id'] eq 0">
          <a href="{:U('Home/Goods/goodsList',array('id'=>$goodsCate['id']))}">{$goodsCate.parent_name}</a>
          <else/>
          <a href="{:U('Home/Goods/goodsList',array('id'=>$goodsCate['parent_id']))}">{$goodsCate.parent_name}</a>
        </if>
      </li>
      >
      <foreach name="filter_menu" item="v" key="k">
        <a title="{$v['text']}" href="{$v['href']}" class="filter_menu">{$v['text']}<span>&nbsp;</span></a>
      </foreach>
      <a href="{:U('Home/Goods/goodsList',array('id'=>$cat_id))}" class="search-clear">清空筛选条件</a>
    </ol>
    <div class="condition">
      <!--<p class="more">更多选项</p>-->
      <p class="title">共<span class="color1">{$page->totalRows}</span>款供您浏览</p>
      <div class="all-title">

        <if condition="$filter_brand neq null">
          <div class="clas brands clearfix">
            <div class="col-md-1"><span>品牌</span></div>
            <div class="col-md-11">
                <if condition="$cat_id == 1">
                  <foreach name="$filter_brand_class" item="v" key="k">
                    <div class="classify">
                      <span style="width: 10%;margin-left:0px;"><if condition="$k == 0">顶级:<elseif condition="$k == 1"/>奢华:<elseif condition="$k == 2"/>豪华:<elseif condition="$k == 3"/>时尚:<else/>亲民:</if></span>
                      <ul>
                        <foreach name="$v" item="v" key="k">
                          <li><a href="{$v[href]}" data-href="{$v[href]}"  data-key='brand' data-val='{$v[id]}'>{$v[name]}</a></li>
                        </foreach>
                      </ul>
                    </div>
                  </foreach>
                <else/>
                  <div class="classify">
                    <ul>
                      <foreach name="$filter_brand" item="v" key="k">
                        <li><a href="{$v[href]}" data-href="{$v[href]}"  data-key='brand' data-val='{$v[id]}'>{$v[name]}</a></li>
                      </foreach>
                    </ul>
                  </div>
              </if>
            </div>
          </div>
        </if>
        <!--<if condition="$filter_price neq null">-->
        <!--<div class="clas price">-->
        <!--<div class="col-md-1"><span>价格</span></div>-->
        <!--<div class="col-md-11">-->
        <!--<div class="classify">-->
        <!--<ul>-->
        <!--<foreach name="filter_price" item="v" key="k">-->
        <!--<li><a href="{$v[href]}">{$v[value]}</a></li>-->
        <!--</foreach>-->
        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</if>-->
        <if condition="$filter_series neq null">
          <div class="clas series">
            <div class="col-md-1"><span>系列</span></div>
            <div class="col-md-11">
              <div class="classify">
                <ul>
                  <foreach name="filter_series" item="v3" key="k3">
                    <li><a href="{$v3[href]}" data-href="{$v3[href]}"  data-key='series' data-val='{$v3[id]}'>{$v3[name]}</a></li>
                  </foreach>
                </ul>
              </div>
            </div>
          </div>
        </if>

        <!-- 属性筛选 start -->
        <foreach name="filter_attr" item="v" key="k">
          <if condition="!empty($v['attr_name'])">
            <div class="clas spec">
              <div class="col-md-1"><span>{$v.attr_name}</span></div>
              <div class="col-md-11">
                <div class="classify">
                  <ul>
                    <foreach name="v[attr_value]" item="v2" key="k2">
                      <li><a href="{$v2[href]}" data-href="{$v2[href]}" data-key='{$v2[key]}' data-val='{$v2[val]}'>{$v2[attr_value]}</a></li>
                    </foreach>
                  </ul>
                </div>
              </div>
            </div>
          </if>
        </foreach>
        <!-- 属性筛选 end -->

        <foreach name="filter_spec" item="v" key="k">
          <if condition="!empty($v['name'])">
            <div class="clas spec">
              <div class="col-md-1"><span>{$v.name}</span></div>
              <div class="col-md-11">
                <div class="classify">
                  <ul>
                    <foreach name="v[item]" item="v2" key="k2">
                      <li><a href="{$v2[href]}" data-href="{$v2[href]}" data-key='{$v2[key]}' data-val='{$v2[val]}'>{$v2[item]}</a></li>
                    </foreach>
                  </ul>
                </div>
              </div>
            </div>
          </if>
        </foreach>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="list-items">
      <div class="item-title">
        <ul>
          <!--<li class="<if condition="$Request.param.sort eq ''">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",$filter_param,''));?>">默认排序</a></li>-->
          <li class="<if condition="$Request.param.sort eq 'sort'">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'sort','sort_asc'=>'desc')),''));?>">最热门</a></li>
          <li class="<if condition="$Request.param.sort eq 'is_new'">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'is_new')),''));?>">最新</a></li>
          <li class="<if condition="$Request.param.sort eq 'shop_price' && $Request.param.sort_asc eq 'desc' ">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'desc')),''));?>">价格</a></li>
          <li class="<if condition="$Request.param.sort eq 'shop_price' && $Request.param.sort_asc eq 'asc' ">active</if>"><a href="<?php echo urldecode(U("/Home/Goods/goodsList",array_merge($filter_param,array('sort'=>'shop_price','sort_asc'=>'asc')),''));?>">价格</a></li>
        </ul>
        <div class="change-pages">
          <php>$nowPage = $page->nowPage;$totalPages = $page->totalPages;</php>
          <a class="prev" <if condition="$nowPage gt 1">href="{:U('Home/Goods/goodsList',array_merge($filter_param,array('p'=>$nowPage-1)))}" </if>></a>
          <span class="page"><span class="now">{$page->nowPage}</span> / <span class="total">{$page->totalPages}</span></span>
          <a class="next" <if condition="$nowPage lt $totalPages">href="{:U('Home/Goods/goodsList',array_merge($filter_param,array('p'=>$nowPage+1)))}" </if>></a>
        </div>
      </div>
      <div class="list-content">
        <ul>
          <foreach name="goods_list" item="v" key="k">
            <li class="col-md-2 col-sm-2" style="display: block;">
              <a href="{:U('/Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}" target="_blank">
              <if condition="$v['reserved']==1">
                <div class='is_reserved'></div>
              <elseif condition="$v['store_count']<=0"/>
                <div class='img_shadow'></div>
              <elseif condition="$v[temai] eq 1">
                <div class="temai_icon"></div>
              </if>
                <img class="lazy-list" height="236" width="236" src="{$v.goods_id|goods_thum_images=236,236}"/>
              </a>
              <div class="detail">
                <p><a href="{:U('/Home/Goods/goodsInfo',array('id'=>$v[goods_id]))}">{$v[goods_name]}</a></p>
                <p class="price price1">销售价：<i> <?php echo $v['shop_price'] == '0.00'?'请联系客服': '¥'.number_format($v['shop_price']); ?> </i> </p>
		            <p class="price price2">官方公价：<i> ¥<?php echo $v['market_price'] == '0.00'?'暂无': number_format($v['market_price']); ?> </i> </p>
              </div>
            </li>
          </foreach>
        </ul>
      </div>
      <nav aria-label="Page navigation">
        {$page->show()}
      </nav>
      
	<!-- <div class="search_box">
              <input type="text" placeholder="劳力士" class="_search">
      <button class="search-click">搜索</button>
          </div> -->

    </div>
  </div>
</div>
<div class="clearfix"></div>
<!--footer-s-->
<!-- <include file="public/footer"/> -->
<!--footer-e-->
</body>
<script src="__STATIC__/js/bootstrap.js"> </script>
<script src="__STATIC__/js/responsiveslides.min.js"></script>
<script src="__STATIC__/js/simpleCart.min.js"> </script>
<script>
    $(function () {
        $(".rslides").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });
</script>
</html>
