<!DOCTYPE html>
<html>
<head>
    <title>品牌动态-{$tpshop_config['shop_info_store_title']}</title>
    <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/p-common.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<body>
<!--header-s-->
<div class="mobel-header" style="border-bottom:1px solid rgb(241, 241, 241) ">
    <div class="title">支付结果</div>
</div>
<!--header-e-->
<div class="main_content contactPage">
    <div style="padding: 50px 0; text-align: center;">很抱歉，您的订单支付失败</div>
</div>

<!--footer-s-->
<include file="public/footer_menu" />
<!--footer-e-->
</body>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/simpleCart.min.js"> </script>
<script src="__STATIC__/js/type.js"></script>
</html>