<!DOCTYPE html>
<html>
<head>
    <title>品牌动态-{$tpshop_config['shop_info_store_title']}</title>
    <link href="__STATIC__/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="__STATIC__/css/p-common.css" rel="stylesheet" type="text/css" media="all" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,maximum-scale=1,initial-scale=1,user-scalable=no" />
</head>
<body>
<!--header-s-->
<div class="mobel-header" style="border-bottom:1px solid rgb(241, 241, 241) ">
    <div class="title">支付结果</div>
</div>
<div class="main_content contactPage">
    <div style="padding: 50px 0; text-align: center;">
        <p>订单支付成功，我们将在第一时间给你发货！</p>
        <p>请你保持手机畅通，等待收货。</p>
    </div>
</div>
<!--footer-s-->
<include file="public/footer_menu" />
<!--footer-e-->
</body>
</html>

