<!--header-->
<div class="header-top">
  <div class="container">
    <div class="top-header-main">
      <div class="top-header-left ewm">
        <img src="/template/html/static//image/icon/erweima1.jpg" alt="">
	<div class="_right">
          <p>关注国典公众号</p>
          <p>了解更多资讯</p>
        </div>
      </div>
      <div class="top-header-left" style="text-align: center;">
        <a href="javascript:;" class="logo"><img src="__STATIC__/image/icon/logo.jpg" alt=""></a>
      </div>
      <if condition="session('?user') == false">
      <div class="top-header-right" style="flex: 1">
        <a href="{:U('Home/user/login')}" class="login nologin">登录</a>
        <a href="{:U('Home/user/reg')}" class="reg nologin">｜注册</a>
        <p class="clearfix" style="height: 10px;"></p>
        <if condition="(CONTROLLER_NAME eq 'Cart') && (ACTION_NAME eq 'index')">
          <else/>
        <div class="top_cart" onclick="window.location='{:U('home/cart/index')}'">购物车 (<span id="cart_quantity"></span>)</div>
        </if>
      </div>

      <else/>

        <div class="clearfix"> </div>
        <div class="top-header-right loged" style="flex: 1">
          <div class="msg">
            <div class="_left" style="text-align: right;">
              <span class="name">{$user['nickname']}</span>
              <a href="{:U('Home/user/logout')}" class="logout">退出</a>
            </div>
            <div class="_middle head-msg">
              <span class="mine">我的国典</span>
              <div class="mine-msg" style="background: #FFF">
                <a href="{:U('home/order/order_list')}">我的订单</a>
                <a href="{:U('home/User/goods_collect')}">我的收藏</a>
                <a href="{:U('Home/user/info')}">账户信息</a>
                <a href="{:U('home/User/address_list')}">收货地址</a>
              </div>
            </div>
            <div class="_right head-msg">
              <span class="khfw ">客户服务</span>
              <div class="mine-msg" style="background: #FFF">
                <a href="#" class="zhiCustomBtn">在线客服</a>
                <a href="#">贵宾专线 010-80456828 转 8006</a>
              </div>
            </div>
          </div>
          <if condition="(CONTROLLER_NAME eq 'Cart') && (ACTION_NAME eq 'index')">
          <else/>
        <div class="top_cart logined" onclick="window.location='{:U('home/cart/index')}'">购物车 (<span id="cart_quantity"></span>)</div>
        </if>
          
      </div>
      <div class="clearfix"></div>
      </if>
    </div>
  </div>
  <div class="header-bottom container">
	<div class="header-list">
    <div class="top-nav">
      <ul class="memenu skyblue showhide">
        <li <if strtolower(CONTROLLER_NAME) eq 'index'>class="active"</if>><a href="{:U('Index/index')}">首页</a></li>
        <foreach name="index_nav[cate]" item="v" key="k">
        <li <if (strtolower(CONTROLLER_NAME) eq 'goods') && ($good_id eq $v['id']) >class="active"</if>><a href="{:U('Goods/goodsList',array('id'=>$v[id], 'sort'=>'sort', 'sort_asc'=>'desc'))}">{$v['name']}</a>
          <if condition="!empty($index_nav['list'][$v['id']])">
            <div class="mepanel">
              <div class="row">
                <div class="col1 me-one me-two">
                  <h4>品牌</h4>
                  <ul>
                    <foreach name="index_nav['list'][$v['id']]" item="v" key="k">
                      <?php if($k>15) break; ?>
                      <li><a href="{:U('Goods/goodsList',array('id'=>$v['id'],'brand_id'=>$v['brand_id']))}">{$v['brand_name']}</a></li>
                    </foreach>
                  </ul>
                  <a href="{:U('Goods/goodsList',array('id'=>$v[id]))}" class="_more">更多</a>
                </div>
              </div>
            </div>
          </if>
        </li>
        </foreach>
        <li <if in_array(strtolower(CONTROLLER_NAME), array('topic', 'article')) >class="active"</if>><a href="{:U('Topic/detail',array('topic_id'=>1))}">关于我们</a></li>
      </ul>
      <a href="javascript:;" class="logo"><img src="__STATIC__/image/icon/logo.jpg" alt=""></a>
      <div class="search"><input type="text" placeholder="搜索"><span class="sec" data-href="{:U('Home/Goods/search')}"></span></div>
    </div>
    <div class="top-header-left phone">
      <a href="javascript:;" onclick="addFavorite(this);" class="collection"></a>
      <a href="javascript:;" onclick="openSDK()" class="advisory"></a>
      <div class="clearfix"> </div>
    </div>
	</div>
    <!---->
    <div class="clearfix"> </div>
    <!---->
  </div>
  <div class="clearfix"></div>
</div>
<script src="__STATIC__/js/jquery.min.js"></script>
<script src="__STATIC__/js/cookie.js"> </script>
<script src="__STATIC__/js/mine.js"> </script>
<script>
    /*******用户登录变化class****/

        // function user_login_or_no()
        // {
        //     var uname = getCookie('uname');
        //     var head_pic = getCookie('head_pic');
        //     if (uname == null) {
        //         $('.loged').remove();
        //         $('.nologin').show();
        //     } else {
        //         $('.nologin').remove();
        //         $('.loged').show();
        //         $('#head_pic').attr('src',head_pic);
        //         // $('.name').html(decodeURIComponent(uname).substring(0,5));
        //     }
        // }
        // user_login_or_no();

</script>
